<div class="category-container">

  <div class="close-profile">
    <em class="icon-close" ></em>
  </div>

  <div class="reminder-list" *ngIf="medicationList">
    <h2>Mis Recordatorios</h2>
    <ul>
      <li >
        <span class="name-reminder"></span>
        <span class="time-reminder"> <i class="fa fa-clock-o"></i></span>

        <button class=" btn-edit-reminder">Editar</button>
        <button  class="btn-delete-reminder" type="button"><i class="fa fa-trash"></i></button>


      </li>
    </ul>
    <button class="pad">Agregar Recordatorio</button>
  </div>


  <div class="reminder-agg" *ngIf="!medicationList">
    <h2>Agregar Recordatorio</h2>
    <form class="form-reminder" >
      <label for="nombreMedicamento">Medicamento</label>
      <select id="nombreMedicamento" formControlName="nameMedicine" required>
        <option value="" disabled selected>Selecciona un medicamento</option>
        <option >

        </option>
      </select>

      <label for="hora">Hora del Recordatorio</label>
      <input type="time" id="hora" formControlName="time" required>

      <div class="button-container">
        <div class="btn-left">
          <button class="btn-estandar" type="button" ><i class="fa fa-arrow-left"></i></button>
        </div>
        <div class="btn-save-reminder">
          <button class="btn-estandar" type="submit">Guardar</button>
        </div>
      </div>
    </form>

  </div>

</div>

