<div class="add-category" *ngIf="!id">
  <span>Añadir Categoria</span>
  <form [formGroup]="addCategory" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nombre</label>
      <input formControlName="nameCategory" type="text" placeholder="Ingrese el nombre" appValidateErrors>
    </div>
    <button class="get-into" type="submit">Añadir</button>
  </form>
</div>

<div class="add-category" *ngIf="id">
  <span>Actualizar categoria</span>
  <form [formGroup]="addCategory" (ngSubmit)="updateCategory()">
    <div class="form-group">
      <label>Nombre</label>
      <input formControlName="nameCategory" type="text" placeholder="Ingrese el nombre" appValidateErrors>
    </div>
    <button class="get-into" type="submit">Actualizar</button>
  </form>
</div>
