
.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #edeff2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
  border-radius: 8px;
  margin: 50px 50px 50px 10px;
  flex: 1;
  background-color: white;



  h1 {
    margin: 0 0 20px;
    font-size: 24px;
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;

    .form-group {
      width: 100%;
      text-align: left;
      margin: 10px 0;

      label {
        font-size: 14px;
        display: block;
      }

      input {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }

    .get-into {
      width: 100%;
      background-color: #133136;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;

      em{
        font-size: 16px;
      }

      &:hover{
        background-color: #110f36;
      }
    }
    .color-orange{
      background-color: #686d6e;
    }
  }
}

.register-image {
  height: 80%;
  flex: 1;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  margin: 50px 10px 50px 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 90%;
    border-radius: 8px;
    max-width: 100%;
  }
}


@media (max-width: 1000px) {
  .login-container{

    .login-image{
      display: none;
    }
  }

}

@media (max-width: 600px) {
  .login-container{

    .login-form{
      margin: 0;
    }

  }

}
@media (max-width: 420px) {
  .login-container{

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-form{
      form{
        width: 90%;
      }
    }
  }

}

