
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$proyecto-base-primary: mat.define-palette(mat.$indigo-palette);
$proyecto-base-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$proyecto-base-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$proyecto-base-theme: mat.define-light-theme((
  color: (
    primary: $proyecto-base-primary,
    accent: $proyecto-base-accent,
    warn: $proyecto-base-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($proyecto-base-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "assets/styles/scss/main";



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//cerrar modal
.close-modal {
  position: absolute;
  top: -10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 12px;
  z-index: 2;

  em {
    font-size: 20px;
    cursor: pointer;
    color: #0077ff;
  }

  em:hover {
    color: red;
  }
}


//Styles of selects
.ng-select.ng-select-single .ng-select-container {
  border: none;
}

.ng-select.custom {
  border: 0;
  min-height: 0;
  border-radius: 0;
}

.ng-select.custom-two {
  font-size: 14px;
}


.ng-select.custom .ng-select-container {
  min-height: 38px;
  border-radius: 0;
  color: theme-palette-color('color', 'primary');
  font-size: 14px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid theme-palette-color('grays', 600);
}

.ng-select.custom-two .ng-select-container {
  color: inherit;
  font-size: 14px !important;
}


.ng-select.custom-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 10px;
}

app-column-filter {
  position: relative;
}

.ng-select.custom-multiple .ng-select-container {
  padding: 0 0 0 10px !important;
}

.ng-select.custom > .ng-select-container > .ng-value-container {
  padding-left: 0;
}

ng-select.custom {
  outline: none !important;

  &.ng-select-opened {
    > .ng-select-container {
    }
  }

  &.ng-select-focused {
    &:not(.ng-select-opened) > .ng-select-container {
      border-color: theme-palette-color('grays', 300);
      box-shadow: none;
    }
  }
}

ng-select.custom-two {

  &.ng-select-focused {
    &:not(.ng-select-opened) > .ng-select-container {
      border-color: theme-palette-color('grays', 300);
      box-shadow: none;
    }
  }
}

//estilos de las alertas

//Shadows
$box-shadow-default: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
//colores para alertas
$success-color: #3BC279;
$success-color-light: #E7F9F1;
$error-color: #FF040E;
$error-color-light: #FAEDED;
$warning-color: #FFBF01;
$warning-color-light: #FFF8E3;
$info-color: #37CCEA;
$info-color-light: #D9F5FF;
$reversed-color: #0909b6;

.toast-container {

  .ngx-toastr {
    width: 300px !important;
    border-radius: 4px 4px 4px 4px !important;
    box-shadow: $box-shadow-default !important;
  }

  .toast-close-button {
    text-shadow: $box-shadow-default !important;
  }

  .toast-success {
    border-left: 8px solid $success-color !important;
    background-color: $success-color-light !important;
    background-image: url("../../../images/alerts/success.svg") !important;

    .toast-message, .toast-title, .toast-close-button {
      color: $success-color !important;
    }
  }

  .toast-error {
    border-left: 10px solid $error-color !important;
    background-color: $error-color-light !important;
    background-image: url("../../../images/alerts/error.svg") !important;

    .toast-message, .toast-title, .toast-close-button {
      color: $error-color !important;
    }

  }

  .toast-info {
    border-left: 10px solid $info-color !important;
    background-color: $info-color-light !important;
    background-image: url("../../../images/alerts/info.svg") !important;

    .toast-message, .toast-title, .toast-close-button {
      color: $info-color !important;
    }

    .toast-close-button {
      color: $info-color !important;
    }
  }

  .toast-warning {
    border-left: 10px solid $warning-color !important;
    background-color: $warning-color-light !important;
    background-image: url("../../../images/alerts/warning.svg") !important;

    .toast-message, .toast-title, .toast-close-button {
      color: $warning-color !important;
    }

    .toast-close-button {
      color: $warning-color !important;
    }
  }
}
