.add-user {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

    span {
      font-size: 20px;
      font-weight: bold;
    }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;

    .form-group {
      width: 100%;
      text-align: left;
      margin: 10px 0;

      label {
        font-size: 14px;
        display: block;
      }

      input {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 5px;
      }
    }

    .get-into {
      width: 100%;
      background-color: #133136;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;

      em{
        font-size: 16px;
      }

      &:hover{
        background-color: #110f36;
      }
    }
    .color-orange{
      background-color: #686d6e;
    }
  }
}
